@font-face {
  font-family: SF Regular;
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SFBold;
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: SFItalic;
  src: url(../fonts/SFPRODISPLAYLIGHTITALIC.OTF);
}

body {
  background-color: white;
  font-family: SF Regular;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  font-size: 13px;
  text-align: center;
  font-family: SF Regular;
  color: black;
  padding: 30px;
  width: 400px;
  max-width: 100%;
  background-color: white;
}

.login-form h2 {
  font-family: SFBold;
  color: black;
  margin-bottom: 35px;
  text-align: center;
}

.login-form label {
  color: rgba(0, 0, 0, 0.7);
}

.login-form input[type="email"],
.login-form input[type="password"] {
  font-family: SFItalic;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.164);
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form button[type="submit"] {
  width: 40%;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 13px;
  /* text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.5s ease; */
}

.login-link {
  margin-top: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.login-link a {
  font-size: 13px;
  color: black;
  text-decoration: underline 0.7px solid black;
}

.login-link a:hover {
  text-decoration: underline 2px solid black;
}

/* .login-form button[type="submit"]:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: white;
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.login-form button[type="submit"]:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: white;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
} */

/* .password-container {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
} */

/* .show-password-checkbox {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  margin-top: 5px;
} */

/* .show-password-checkbox input[type="checkbox"] {
  margin-right: 5px;
  accent-color: violet;
} */


